/* FORMATTER */
#formatting-container {
  height: 0px;
}

#formatting-pop-up {
  background-color: #d4dce4;
  width: fit-content;
  height: fit-content;
  position: relative;
  bottom: 35px;
  left: 100px;
  border-radius: 3px;
}

.formatting-button {
  background-color: #e9eff4;
  padding: 5px;
  margin: 5px;
  min-width: 25px;
  font-size: 1.2em;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.formatting-button:hover {
  background-color: white;
}

/* NOTIFICATIONS */

:root {
  --font-color: #ed1c24;
}
#header-notifications {
  color: var(--font-color) !important;
}
.user > .notifications {
  color: var(--font-color) !important;
}

/* MAKING PART REFERENCE SELECTABLE*/
.ui-text-std {
  -webkit-user-select: text;
  user-select: text;
  cursor: auto;
}
