/* FORMATTER */
.text-editing-container {
  height: 0px;
}

.emoji-pop-up,
.formatting-pop-up {
  background-color: #d4dce4;
  width: fit-content;
  height: fit-content;
  position: relative;
  bottom: 35px;
  left: 0;
  border: 1px solid #c4cdd7;
  border-radius: 3px;
  display: none;
}

.emoji-pop-up {
  max-width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  bottom: 55px;
}

.formatting-button {
  background-color: #e9eff4;
  padding: 5px;
  margin: 5px;
  min-width: 25px;
  font-size: 1.2em;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.formatting-button:hover {
  background-color: white;
}

.emoji-item {
  width: 25px;
  height: 25px;
  display: inline-block;
  padding: 5px;
}

.emoji-item:hover {
  background-color: white;
}

/* NOTIFICATIONS */

:root {
  --font-color: #ed1c24;
}
#header-notifications {
  color: var(--font-color) !important;
}
.user > .notifications {
  color: var(--font-color) !important;
}

a > .notifications {
  color: var(--font-color) !important;
}

/* MAKING PART REFERENCE SELECTABLE*/
.ui-text-std {
  -webkit-user-select: text;
  user-select: text;
  cursor: auto;
}

/* WORKSHOP IMAGES */
#image-input-label {
  display: block;
}

#image-input {
  display: none;
}

#workbench > div.viewport > div.scene > canvas {
  background-repeat: no-repeat;
}

.image-text-item {
  color: #fff;
  height: 20px;
  line-height: 20px;
  padding-left: 6px;
  position: relative;
}

.image-item {
  margin-left: 15px;
  min-height: 20px;
  color: #787c81;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 5px;
}

.image-item > summary {
  cursor: pointer;
}

.preview-wrapper {
  height: 44px;
  width: calc(100% - 15px);
  background-color: #3c4248;
  border-radius: 3px;
  cursor: auto;
}

.image-preview {
  height: 30px;
  max-width: 180px;
  align-self: center;
  margin-left: calc(50%);
  transform: translateX(-50%);
  padding: 7px;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.slider-label {
  font-size: 11px;
  color: #ffffff;
  width: 30px;
  display: inline-block;
}

.ui-margin-top-5 {
  margin-top: 5px;
}

/* SUBSCRIPTION */
.block-button {
  background-color: #e9eff4;
  color: #414243;
  padding: 4px;
  min-width: 25px;
  font-size: 0.8em;
  font-size: 14px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  height: min-content;
}

.block-button:hover {
  background-color: white;
}

.forum-button {
  position: relative;
  top: -26px;
  justify-self: end;
  display: block;
}

#comments-qty {
  display: flex;
  justify-content: space-between;
}

/* Character Limit*/
.model-character-limit {
  color: #fff;
  position: absolute;
  width: 70px;
  margin-top: -3.2px;
  margin-left: 593px;
  text-align: center;
  background-color: #34495e;
  border-radius: 0 0 5px 5px;
  font-weight: 800;
}

.comment-character-limit {
  color: #000;
  position: absolute;
  width: 70px;
  margin-top: -0.6px;
  margin-left: 618px;
  text-align: center;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  font-weight: 800;
  border: 1px solid #c4cdd7;
  border-top: none;
}

.forum-character-limit {
  color: #676e75;
  position: absolute;
  bottom: 20px;
  right: 505px;
}

.forum-character-limit-reply {
  color: #676e75;
  position: absolute;
  margin-top: 15px;
  margin-left: 545px;
}

/* TIMER */
.post-timer {
  position: fixed;
  margin-top: 50px;
  background-color: #14171b;
  font-size: 1.2em;
  padding: 4px;
  min-width: 30px;
  text-align: center;
  z-index: 50;
  border-radius: 0 0 10px 0;
  color: white;
}

/* OTHER */

textarea {
  resize: vertical;
}

#subHeader-profile::before {
  /*
  <svg width="200px" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#7A94AF" stroke-width="16px">
  <circle r="40" cx="100" cy="50"></circle>
  <circle cx="100" cy="190" r="80" stroke-dasharray="180" stroke-dashoffset="180" pathLength="360"></circle>
  <line x1="20" y1="182" x2="180" y2="182"></line>
  </svg> 
  */
  background-image: url("data:image/svg+xml, %3Csvg%20width=%22200px%22%20viewBox=%220%200%20200%20200%22%20xmlns=%22http://www.w3.org/2000/svg%22%20fill=%22none%22%20stroke=%22%237A94AF%22%20stroke-width=%2216px%22%3E%3Ccircle%20r=%2240%22%20cx=%22100%22%20cy=%2250%22%3E%3C/circle%3E%3Ccircle%20cx=%22100%22%20cy=%22190%22%20r=%2280%22%20stroke-dasharray=%22180%22%20stroke-dashoffset=%22180%22%20pathLength=%22360%22%3E%3C/circle%3E%3Cline%20x1=%2220%22%20y1=%22182%22%20x2=%22180%22%20y2=%22182%22%3E%3C/line%3E%3C/svg%3E");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 16px;
  content: "";
  display: block;
  float: left;
  height: 16px;
  margin: 9px 10px;
  width: 20px;
}

#subHeader-profile:hover::before {
  background-image: url("data:image/svg+xml, %3Csvg%20width=%22200px%22%20viewBox=%220%200%20200%20200%22%20xmlns=%22http://www.w3.org/2000/svg%22%20fill=%22none%22%20stroke=%22%233E526C%22%20stroke-width=%2216px%22%3E%3Ccircle%20r=%2240%22%20cx=%22100%22%20cy=%2250%22%3E%3C/circle%3E%3Ccircle%20cx=%22100%22%20cy=%22190%22%20r=%2280%22%20stroke-dasharray=%22180%22%20stroke-dashoffset=%22180%22%20pathLength=%22360%22%3E%3C/circle%3E%3Cline%20x1=%2220%22%20y1=%22182%22%20x2=%22180%22%20y2=%22182%22%3E%3C/line%3E%3C/svg%3E");
}

/* WORKSHOP PART MANAGER */

#part-library-magnifier {
  float: right;
  width: 20px;
  height: 0px;
  text-align: center;
  margin-right: 5px;
}

#part-library-magnifier > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --width-it: 78px;
  --height-it: 75px;

  --width-ic: 72px;
  --height-ic: 57px;

  --width-ne: 30px;
  --height-ne: 30px;
  --margin-ne: 21px 24px;

  --font-size: 10px;
}

body.magnify {
  --width-it: 156px;
  --height-it: 153px;

  --width-ic: 144px;
  --height-ic: 114px;

  --width-ne: 60px;
  --height-ne: 60px;
  --margin-ne: 42px 48px;

  --font-size: 16px;
}

#part-library > .content > .viewport > .items > .item {
  width: var(--width-it) !important;
  height: var(--height-it) !important;
}

#part-library > .content > .viewport > .items > .item > .icon.part,
#part-library > .content > .viewport > .items > .item > .icon.folder {
  width: var(--width-ic) !important;
  height: var(--height-ic) !important;
}

#part-library > .content > .viewport > .items > .item > .next {
  width: var(--width-ne) !important;
  height: var(--height-ne) !important;
  margin: var(--margin-ne) !important;
}

#part-library > .content > .viewport > .items > .item > .reference {
  font-size: var(--font-size) !important;
  height: calc(var(--font-size) + 4px) !important;
}

.ui-select-wrapper.ui-position-single.categories > select {
  font-size: calc(var(--font-size) + 1px) !important;
}
