/* FORMATTER */
#formatting-container {
  height: 0px;
}

#formatting-pop-up {
  background-color: #d4dce4;
  width: fit-content;
  height: fit-content;
  position: relative;
  bottom: 35px;
  left: 100px;
  border-radius: 3px;
}

.formatting-button {
  background-color: #e9eff4;
  padding: 5px;
  margin: 5px;
  min-width: 25px;
  font-size: 1.2em;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.formatting-button:hover {
  background-color: white;
}

/* NOTIFICATIONS */

:root {
  --font-color: #ed1c24;
}
#header-notifications {
  color: var(--font-color) !important;
}
.user > .notifications {
  color: var(--font-color) !important;
}

a > .notifications {
  color: var(--font-color) !important;
}

/* MAKING PART REFERENCE SELECTABLE*/
.ui-text-std {
  -webkit-user-select: text;
  user-select: text;
  cursor: auto;
}

/* WORKSHOP IMAGES */
#image-input-label {
  display: block;
}

#image-input {
  display: none;
}

#workbench > div.viewport > div.scene > canvas {
  background-repeat: no-repeat;
}

.image-text-item {
  color: #fff;
  height: 20px;
  line-height: 20px;
  padding-left: 6px;
  position: relative;
}

.image-item {
  margin-left: 15px;
  min-height: 20px;
  color: #787c81;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 5px;
}

.image-item > summary {
  cursor: pointer;
}

.preview-wrapper {
  height: 44px;
  width: calc(100% - 15px);
  background-color: #3c4248;
  border-radius: 3px;
  cursor: auto;
}

.image-preview {
  height: 30px;
  max-width: 180px;
  align-self: center;
  margin-left: calc(50%);
  transform: translateX(-50%);
  padding: 7px;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.slider-label {
  font-size: 11px;
  color: #ffffff;
  width: 30px;
  display: inline-block;
}

.ui-margin-top-5 {
  margin-top: 5px;
}

/* SUBSCRIPTION */
.block-button {
  background-color: #e9eff4;
  color: #414243;
  padding: 3px;
  min-width: 25px;
  font-size: 0.8em;
  font-weight: 800;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  height: min-content;
}

.block-button:hover {
  background-color: white;
}

.forum-button {
  position: relative;
  top: -22px;
  justify-self: end;
  display: block;
}

#comments-qty {
  display: flex;
  justify-content: space-between;
}
