/* FORMATTER */
.text-editing-container {
  height: 0px;
}

.emoji-pop-up,
.formatting-pop-up {
  background-color: #d4dce4;
  width: fit-content;
  height: fit-content;
  position: relative;
  bottom: 35px;
  left: 0;
  border: 1px solid #c4cdd7;
  border-radius: 3px;
  display: none;
}

.emoji-pop-up {
  max-width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  bottom: 55px;
}

.formatting-button {
  background-color: #e9eff4;
  padding: 5px;
  margin: 5px;
  min-width: 25px;
  font-size: 1.2em;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.formatting-button:hover {
  background-color: white;
}

.emoji-item {
  width: 25px;
  height: 25px;
  display: inline-block;
  padding: 5px;
}

.emoji-item:hover {
  background-color: white;
}

/* NOTIFICATIONS */

:root {
  --font-color: #ed1c24;
}
#header-notifications {
  color: var(--font-color) !important;
}
.user > .notifications {
  color: var(--font-color) !important;
}

a > .notifications {
  color: var(--font-color) !important;
}

/* MAKING PART REFERENCE SELECTABLE*/
.ui-text-std {
  -webkit-user-select: text;
  user-select: text;
  cursor: auto;
}

/* WORKSHOP IMAGES */
#image-input-label {
  display: block;
}

#image-input {
  display: none;
}

#workbench > div.viewport > div.scene > canvas {
  background-repeat: no-repeat;
}

.image-text-item {
  color: #fff;
  height: 20px;
  line-height: 20px;
  padding-left: 6px;
  position: relative;
}

.image-item {
  margin-left: 15px;
  min-height: 20px;
  color: #787c81;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 5px;
}

.image-item > summary {
  cursor: pointer;
}

.preview-wrapper {
  height: 44px;
  width: calc(100% - 15px);
  background-color: #3c4248;
  border-radius: 3px;
  cursor: auto;
}

.image-preview {
  height: 30px;
  max-width: 180px;
  align-self: center;
  margin-left: calc(50%);
  transform: translateX(-50%);
  padding: 7px;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.slider-label {
  font-size: 11px;
  color: #ffffff;
  width: 30px;
  display: inline-block;
}

.ui-margin-top-5 {
  margin-top: 5px;
}

/* SUBSCRIPTION */
.block-button {
  background-color: #e9eff4;
  color: #414243;
  padding: 4px;
  min-width: 25px;
  font-size: 0.8em;
  font-size: 14px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  height: min-content;
}

.block-button:hover {
  background-color: white;
}

.forum-button {
  position: relative;
  top: -26px;
  justify-self: end;
  display: block;
}

#comments-qty {
  display: flex;
  justify-content: space-between;
}

/* Character Limit*/
.model-character-limit {
  color: #fff;
  position: absolute;
  width: 70px;
  margin-top: -3.2px;
  margin-left: 593px;
  text-align: center;
  background-color: #34495e;
  border-radius: 0 0 5px 5px;
  font-weight: 800;
}

.comment-character-limit {
  color: #000;
  position: absolute;
  width: 70px;
  margin-top: -0.6px;
  margin-left: 618px;
  text-align: center;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  font-weight: 800;
  border: 1px solid #c4cdd7;
  border-top: none;
}

/* TIMER */
.post-timer {
  position: fixed;
  margin-top: 50px;
  background-color: #14171b;
  font-size: 1.2em;
  padding: 4px;
  min-width: 30px;
  text-align: center;
  z-index: 50;
  border-radius: 0 0 10px 0;
  color: white;
}
