body {
  font: 400 0.75rem "Open Sans", sans-serif;
}

.info-text {
  font-size: 0.8em;
}

#workshop {
  display: none;
}

input {
  margin: 2px 0;
  padding: 4px;
  font-size: 1em;
}

.item {
  margin: 2px 0;
  padding: 4px;
}

#options > .item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 7px;
}

.button {
  margin: 2px 0;
  padding: 4px;
  background-color: #2196f3;
  border-radius: 6px;
  border: 1px solid black;
  color: white;
  text-align: center;
  transition-duration: 0.1s;
}

.button:hover {
  background-color: #ccc;
  cursor: pointer;
}

.options {
  min-width: 320px;
  font-size: 1.8em;
  display: flex;
  flex-direction: column;
}

.toggable {
  display: flex;
  justify-content: space-between;
}

.toggable > span {
  top: 4px;
  position: relative;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* HIDDEN USERS */
.back {
  width: min-content;
}

.hidden {
  display: none;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  overflow-y: scroll;
}

.items-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #555;
  margin-top: 10px;
}

.items-wrapper > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 85%;
}

.delete {
  width: 22px;
  background-color: #f44;
  user-select: none;
  -webkit-user-select: none;
  position: relative;
  bottom: 5px;
  font-size: 0.8em;
}

/* SVG */
.master-svg {
  width: 200;
  height: 200;
  display: none;
}

.item-svg {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  padding-right: 4px;
  border-right: 1px solid #555;
}
